.navbar {
    background-color: #000000;
}

.title {
    display: inline-block;
    margin: 2px 0 0 4px;
}

.element {
    border-radius: 16px;
    margin: 0 8px 0 0;
}

.navbar,
.nav-link,
.navbar-default {
    background-image: none !important;
    color: none !important;
}
